.maroon {
    background-color: maroon;
    color: white;
}
.white {
    background-color: white;
    color: maroon;
}
.bold {
    font-weight: bold;
}
#special{
    font-size: x-large;
}
h1{
    font-size: x-small;
}